#fantasma {
    width: 40px;
    display: inline-block;
    background: black;
    background-image: url("img/bluey.gif");
    background-size: contain;
    position: absolute;
    left: 720px;
    top: 760px;
  }
  
  * {
    margin: 0;
    padding: 0;
    height: 40px;
  }
  
  .onigiri {
    width: 40px;
    display: inline-block;
    background: black;
    background-image: url("img/onigiri.png");
    background-size: contain;
  }
  
  
  .fila {
    line-height: 0px;
  }
  
  .pared {
    background-color: blue;
    width: 40px;
    display: inline-block;
  }
  
  .sushi {
    width: 40px;
    display: inline-block;
    background: black;
    background-image: url("img/sushi.png");
    
  }
  
  #puntos {
    width: 40px;
    display: inline-block;
  }
  
  .blank {
    width: 40px;
    display: inline-block;
    background: black;
  }
  
  #ninjaman {
    width: 40px;
    display: inline-block;
    background: black;
    background-image: url("img/ninja.gif");
    background-size: contain;
    position: absolute;
    left: 40px;
    top: 80px;
  }
  
  span {
    margin-right: 40px;
  }